* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

  @font-face {
       font-family: 'Poppins';
       src: url('Poppins-Medium.ttf') format('truetype');
   }

body {
  background-color: white;
}

   
   /*Nav Bar*/
   
nav {
  height: 80px;
  width: 100%;
  background: white;
  display: flex;
  box-shadow: 1px 0px 5px 2px #B2B2B2;
  top: 0;
  position: fixed;
  
}

.ndl {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ndr {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #42445A;
}

.menu {
  height: 50px;
}


@media (max-width: 495px) {
  
  nav a {
    display: none;
  }
  .ndl {
    width: 60%;
  }
  .nav img {
    margin-left: 80px;
  }
  }

/*Side Bar*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #B1B1B1;
    backdrop-filter: blur(50px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   
    
}

.sidebar a {
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    text-align: center;
    color: white;
    border-width: 50%;
    border-radius: 25px;
    margin-top: 5px;
}

.sidebar a:hover {
    background-color: #858585;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
}

.open-btn {
    cursor: pointer;
}

@media (min-width: 495px) {
  nav img{
    display: none;
  }
}


/*Hero Section*/

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  gap: 30px;
}

.heroimg {
  height: 500px;
}

@media (min-width: 670px) {
  
  .about {
    display: flex;
    flex-direction: row;
    
  }
  .sum {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    width: 50%;
  }
}


/*Experience & Skills*/

.hex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unl {
  height: 1px;
  width: 400px ;
  border: 2px solid black;
  border-radius: 25px;
  background: black;
  
}

.exp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.ec {
  height: 330px;
  width: 270px;
  border: 1px solid #494949;
  border-radius: 20px;
  transition: 0.4s;
  padding: 15px;
}



.ecp {
  height: 100px;
}

.ec:hover {
  transform: scale(1.1);
  transition: 0.4s;
}


@media (min-width: 670px) {
  .exp {
    display: grid;
    grid-template-columns: auto auto;
    gap: 69px;
  }
}

@media (min-width: 1100px) {
  .exp {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 17px;
  }
  
  .ec {
    transform: scale(0.6)
  }
}


/*Buttons*/

.butd {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 15px;
  background: #0015FF;
  border-radius: 25px;
  border: none;
}

.ba {
  color: white;
  font-weight: bold;
  text-decoration: none;
}


/*Footer*/

.footer {
  height: 80px;
  width: 100%;
  background-color: #ECECEC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #767676;
}

.footer a {
  margin-top: 5px;
  text-decoration: none;
  color: #797979;
}